



 <div class="container-xxl py-5">
    <div class="container" data-aos="fade-up">
        <div class="row g-4">
            <h1 class="text-center mb-4">Poser Nous Toutes Vos Questions Ici</h1>

            <div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-light rounded p-5 h-100">
                    <h5 class="text-center">Vos Messages</h5>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Nom Complet</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Adresse Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="project" placeholder="Your Project">
                                    <label for="project">Telephone</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Projet</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100">
                    <iframe class="w-100 h-100" style="min-height: 400px; border:0;" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36389.3213673623!2d-17.48572609014803!3d14.702988800684462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172891820e057%3A0x44c723c8e97e1dff!2sCit%C3%A9%20Universitaire!5e0!3m2!1sfr!2ssn!4v1667902594545!5m2!1sfr!2ssn" 
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>


 <style>
    .contactimg {
        width: 74%;
        height: 400px;
        position: absolute;
    }
    
    .contacth1 {
        position: absolute;
        padding-top: 200px;
        padding-left: 400px;
        color: white;
    }
    
    #contact {
        padding-top: 10px;
        position: relative;
        padding-left: 150px;
    }

    @media (max-width: 768px) {
        .contacth1 {
            padding-left: 100px;
            text-align: center;
            font-size: 24px;
        }

        #contact {
            padding-left: 20px;
        }

        .contactimg {
            width: 100%;
            height: 200px;
        }
    }
</style> 




<!-- <h1 class="text-center fw-bold display-2">Nos <span class="text-danger">Réseaux Sociaux </span> </h1> -->


  


<!-- ====================== -->

<div class="container my-5">
    <h1 class="text-center fw-bold display-2">Nos <span class=""> Bureau au Senegal </span> </h1>
    <h2 class="text-center mb-4"> Venez nous rencontrer à Dakar ou à Fatick, où nos équipes sont implantées
        et prêtes à collaborer main dans la main avec vous </h2>

    <div class="row aa">
      <div class="col-md-6 mb-4">
        <div class="card" data-aos="zoom-in">
          <img  src="https://www.afrik21.africa/wp-content/uploads/2024/03/Bassirou-Diomaye-Faye.png" 
          class="card-img-top aa" alt="Bureau de Dakar">
          <div class="card-body">
            <h5 class="card-title">Bureau de Dakar </h5>
            <p class="card-text" data-aos="zoom-out-down">
              Situé au cœur de la capitale dynamique, notre bureau de Dakar est un pôle stratégique. 
              Ici, nous travaillons en étroite collaboration avec nos clients pour concevoir des solutions digitales innovantes. 
              Notre équipe dédiée est toujours à l’écoute des besoins du marché pour offrir des services de haute qualité.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card" data-aos="zoom-in-up"> 
          <img  src="https://www.afrik21.africa/wp-content/uploads/2024/03/Bassirou-Diomaye-Faye.png" 
          class="card-img-top aa" alt="Bureau de Fatick">
          <div class="card-body">
            <h5 class="card-title">Bureau de Fatick</h5>
            <p class="card-text" data-aos="zoom-out-up">
              Notre bureau à Fatick incarne notre engagement envers le développement numérique dans les régions. 
              Nous nous concentrons sur l’accompagnement des entreprises locales, en offrant des formations adaptées et un soutien personnalisé. 
              Ensemble, nous contribuons à l’épanouissement économique de la région.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  


